.btn-recargar{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    color:white; 
    font-weight:bold;
    font-size:17px;
    width:115px;
    height:50px;
    border-radius:6px;
    border:rgba(207, 207, 207, 0.499) 1px solid;
    cursor:pointer;
    
}
.swal2-popup{
    background-color: #0f0c29;
    color:white;
}