@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

body{
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.App {
  width: 100%;
  align-content: center;
  display:flex;
  flex-direction: column;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-body{
  width: 100%;
  display:flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}
.App-main{
  background:rgba(255, 255, 255, 0.05);
  color:rgb(255, 255, 255);
  border:rgba(207, 207, 207, 0.499) 2px solid;
  border-radius:16px;
  width:500px;
  height:700px;
  -webkit-box-shadow: 0px 5px 43px -3px rgba(255,255,255,1);
  -moz-box-shadow: 0px 5px 43px -3px rgba(255,255,255,1);
  box-shadow: 0px 5px 43px -3px rgba(255,255,255,1);  
  font-family: 'Overpass', sans-serif;
  padding:10px;
  
}
.App-main-header{
  display:flex;
  flex-direction:rows;
  gap:25px;
  

}
/*name -- country and city */
.App-main-name{
  width:60%;
  display: flex;
  height:55px;
  text-align: center;
  flex-direction: column;
  margin-left: 20%;
}

.App-main-name > div:nth-child(1){
  font-size:25px;
}
/*fleg -- of country */

.App-main-header > div:nth-child(2){
  width: 20%;  
} 
.App-main-header > div:nth-child(2) img{
  opacity:0.1;
}

.icon{
  margin:0 10% 0 10%;
  width:80%;
  height:200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.icon > div:nth-child(2){
  font-size:50px;
  width:150px;

}
.icon img{
  width:200px;
  height:200px;
}
.descriptio{
    margin-top:30px;
    margin-left:10px;
    display:flex;
    gap:6px;
    width:70%;
    flex-direction:column;
}
.descriptio > div{
  display:flex;
  height:35px;
  font-size:18px;
  justify-content: space-between;
  border-bottom:rgba(207, 207, 207, 0.499) 1px solid;
  padding-right: 20px;
  padding-left: 20px;
  font-family: 'Overpass', sans-serif; 
  

}